/**** CONTENT ****/ 

.body {
    font-family: Arial, Helvetica, sans-serif;
}

.dg-bg-dark {
    background-color: black;
    width: 100%;
    background-position: 50%;
    
}

.dg-bg-dark2 {
    background-color: #1f1f1f;
    color: white;
}

.dg-bg-grey {
    background-color: #bebcbb;
}

.dg-bg-darkblue {
    background-color:#161c3b ;
    color: white;
}


.logo-sony {
    height: 15px;
    
}

.btn-esplora {
    background-color:#d9dadc;
    border-radius: 25px;
    padding: 4px 20px;
    border: none;
    color:#2e65e6;
}

.btn-esplora-now {

    background-color:#d9dadc;
    border-radius: 25px;
    padding: 4px 20px;
    border: none;
    color:black;

}

.section1 {
    background-image: url(img/jumbo-bg.png);
    height: 500px;
    width: 100%;
}

.btn-danger {
    border-radius: 50px;
}


.section4 {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}