/**** CONTENT ****/ 

.body {
    font-family: Arial, Helvetica, sans-serif;
}

.dg-bg-dark {
    background-color: black;
    width: 100%;
    background-position: 50%;
    
}

.dg-bg-dark2 {
    background-color: #1f1f1f;
    color: white;
}

.dg-bg-grey {
    background-color: #bebcbb;
}

.dg-bg-darkblue {
    background-color:#161c3b ;
    color: white;
}

.dg-bg-blue {
    background-color: #00439c;
    color: white;

}

.lens {
    width: 40px;
    padding-left: 10px;
    padding-top: 5px;
}

a {
    color: white;
}

.logo-sony {
    height: 15px;
    
}

.btn-esplora {
    background-color:#d9dadc;
    border-radius: 25px;
    padding: 4px 20px;
    border: none;
    color:#2e65e6;
}

.btn-esplora-now {

    background-color:#d9dadc;
    border-radius: 25px;
    padding: 4px 20px;
    border: none;
    color:black;

}

.section1 {
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}


.btn-danger {
    border-radius: 50px;
}

.img-globe {
    width: 50px;
}

.section4 {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 610px;
}

.dropdown-menu {
    width: 100%;
    border: none;
}


.dropdown-toggle {
    color: black;
}

.img-menu li {
    list-style-type: none;
}


/***** Effects ****/

.section2 img:hover {
    border: 2px blue solid;
    padding: 4px;
    margin: -20px 0px;
    cursor: pointer;
    transform: translatey(-20px);
    transition: 1s linear;
}

.img-console:hover {
    border-bottom: 2px blue solid;
    margin-bottom: -2px;
    cursor: pointer;
    opacity: 0.4;
}

.btn-danger:hover {
    border: 3px red solid;
    margin: -2px;  
}


.section5 img:hover {
    border: 2px blue solid;
    cursor: pointer;
    padding: -10px;
}

.social:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section8 img:hover {
    cursor: pointer;
    opacity: 0.7;
}



/******** / EFFECTS *****/